:host {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.modal-content {
  flex: 1 1;
  padding: 1rem;
  overflow-y: scroll;
}

.image-container {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

.filler {
  flex: 1 1;
}
