<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>
            About App
        </ion-title>
        <ion-buttons slot="end">
            <ion-button href="https://github.com/tomaboro/twf-ionic-demo">
                <ion-icon name="logo-github"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content>
    <div class="ceneterd-image">
        <img src="/assets/icon/twf-logo.jpeg"/>
    </div>
    <div class="description">
        <p>This app was created by Tomek Borowicz as a demo for TWF meetup.</p>
        <p>If you're intrested please checkout souce code on github by clicking github icon on a toolbar.</p>
        This app uses:
        <div class="images">
            <img src="/assets/icon/capacitor-logo.jpg"/>
            <img src="/assets/icon/ionic-icon.png"/>
            <img src="/assets/icon/akita-icon.png"/>
            <img src="/assets/icon/firebase-icon.png"/>
        </div>
    </div>
</ion-content>
