:host {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.scroll {
  overflow-y: scroll;
  display: flex;
  flex-wrap: wrap;
  align-content: stretch;
}

app-card {
  width: 33%;
}

@media only screen and (max-width: 1200px) {
  app-card {
    width: 50%;
  }
}

@media only screen and (max-width: 550px) {
  app-card {
    width: 100%;
  }
}
