<ion-toolbar color="primary">
  <ion-buttons slot="start">
    <ion-menu-button></ion-menu-button>
  </ion-buttons>
  <ion-title>Home</ion-title>
  <ion-buttons slot="end">
    <ion-button href="https://github.com/tomaboro/twf-ionic-demo">
      <ion-icon name="logo-github"></ion-icon>
    </ion-button>
  </ion-buttons>
</ion-toolbar>
<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="active">
      <ion-icon name="construct"></ion-icon>
      <ion-label>Active</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="archive">
      <ion-icon name="appstore"></ion-icon>
      <ion-label>Bought</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
